%h4
  'name' contains a list of objects that are available for the published application.
%h4
  'body map' determines what field to map the body of the message to, e.g. "message" on an IncomingContact