= link_to "Go back to settings", settings_path
%br
%br
- @email_options.each do |option|
  = link_to "#{option.name}", [current_account, option]
  %br
%br
= link_to "Add new email option", new_account_email_option_path(@account)